{% extends "base.html" %}
{% block title %} {{title}}{% endblock %}
{% block description %} {{description}}{% endblock %}
{% block content %}
{% load static %}
<main>
    <section class="welcome-home mb-1" id="content">
        <div class="container-xxl bd-gutter">
            <div class="col-md-8 mx-auto text-center">
                <div class="d-flex flex-column flex-lg-row justify-content-center">
                    <a class="d-flex flex-column flex-lg-row align-items-center mb-4 text-dark lh-sm text-decoration-none" href="#subscribe">
                        <span class="d-sm-inline-flex align-items-center gap-1 py-2 px-3 me-2 mb-2 mb-lg-0 rounded-5 masthead-notice">
                            Dapatkan info artikel terbaru langsung ke email kamu.
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
                            </svg>
                        </span>
                    </a>
                </div>
                
                <img src="{% static 'images/ilustration-code.png' %}" width="200" alt="Bootstrap" class="d-none d-sm-block mx-auto mb-4">
                
                
                <h1 class="mb-3 fw-semibold lh-1"><span id="typed-h1"></span></h1>
                <p class="lead mb-3" style="min-height:120px"><span id="typed-p"></span></p>
                
                
                
            </div>
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-6">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-4">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="text-center">
                                    <img src="{% static 'images/profil.jpeg' %}"
                                alt="Generic placeholder image" class="img-fluid mx-auto"
                                style="width: 150px; border-radius: 10px;" />
                                </div>
                                
                            </div>
                            <div class="col-md-8">
                                <h5 class="mb-1 text-center">Pardiyono</h5>
                                <p class="mb-2 pb-1 text-center">
                                    Full-Stack Developer
                                </p>
                                <div class="d-flex justify-content-start rounded-3 p-2 mb-2 bg-body-tertiary">
                                    <span class="fs-6 fst-italic">"Pemrograman adalah keterampilan yang lebih bergantung pada cara berpikir dari pada alat atau bahasa"</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="subscribe" class="artikel" style="padding-top: 100px;">
        <div class="container">
            <div class="text-center mb-5">
                <h2 class="section-title fw-bold">Artikel <span class="text-warning">Terbaru</span></h2>
                <form action="https://api.follow.it/subscription-form/M0NKQnNLN3V4UXNYVURiM3RhY05FNngzdUI5ZEpBRXlocmpmUGxabzNQdXI2UG5jS3JJQlZUQ3dSZUlrUXZETUJ6UWtQN3ZXcE9teUVBWEhKejhER2RVK2dJRThmMDkranJFREF4RmVySm5QNUMwZUViMG5rQWFOb1ltcVg1b2d8ODJjMnhpVDcvb2xXYndNa1pjNWtYaXJaQ0xudHQzbEF0SnlxZnFxdVRzUT0=/8" method="post">
                    <br>
                    <p>Dapatkan info artikel terbaru langsung ke email kamu.</p>
                    <div class="col-3 d-flex flex-column flex-sm-row mx-auto gap-2">
                        <label for="newsletter1" class="visually-hidden">Email address</label>
                        <input id="newsletter1" type="email" name="email" class="form-control" placeholder="Email address" required="">
                        <button class="btn btn-danger" type="submit">Subscribe</button>
                    </div>
                </form>
                
            </div>
            <div class="row">
                {% for post in posts_70 %}  
                <div class="col-lg-3 col-md-4">
                    <a href="{% url 'article_detail' post.slug %}">
                    <div class="card mb-3">
                        <img src="{{ post.yoast_head_json.og_image.0.url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{ post.title.rendered }}</h5>
                          {% comment %} <p class="card-text">{{ post.excerpt.rendered|safe }}</p> {% endcomment %}
                          <p class="card-text"><small class="text-muted">{{ post.formatted_date }}</small></p>
                        </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    

    <section class="bg-secondary text-white">
        <div class="container py-5 px-4 px-lg-5">
            <div class="text-center mb-5">
                <h2 class="section-title fw-bold">Project <span class="text-warning">Belajar</span></h2>
                
            </div>
            <div class="row g-5">
                {% for post in posts_69 %} 
                
                <div class="col-md-6 col-lg-4">
                <a class="text-decoration-none" href="{% url 'project_detail' post.slug %}">
                    <img class="img-fluid rounded" src="{{ post.yoast_head_json.og_image.0.url }}" alt="">
                    <div class="mt-4">
                        <h5 class="fw-bold text-white">{{ post.title.rendered }}</h5>
                        <hr style="width: 100px; height: 3px; background: white; border: none; border-radius: 5px; opacity: 1;">
                    </div>
                </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    
    

</main>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script>
    var typedH1 = new Typed("#typed-h1", {
        strings: ["Full-Stack Developer and Linux Enthusiast"], // Teks H1
        typeSpeed: 30,           // Kecepatan mengetik (ms)
        loop: false,             // Tidak diulang
        showCursor: true,       // Sembunyikan kursor setelah selesai
        onComplete: function () { // Callback saat H1 selesai
          // Mulai animasi untuk <p>
          var typedP = new Typed("#typed-p", {
            strings: ["Pengembangan perangkat lunak, serta berperan sebagai full-stack developer dalam berbagai proyek. Menyukai Linux dan bersemangat untuk terus berkembang dalam dunia teknologi."],
            typeSpeed: 20,
            loop: false,         // Tidak diulang
            showCursor: true    // Sembunyikan kursor setelah selesai
          });
        }
      });
</script>
  
{% endblock %}